@import "tailwindcss";

body {
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

body [data-pattern="grid"] {
    background-image: linear-gradient(#e6e6e6 2px, transparent 2px), linear-gradient(to right, #e6e6e6 2px, transparent 2px);
    background-size: 32px 32px;
    background-color: #f3f3f3;
}

body [data-pattern="dots"] {
    background-image: radial-gradient(#e6e6e6 2px, transparent 2px);
    background-size: 32px 32px;
    background-color: #f3f3f3;
}

body [data-pattern="crosses"] {
    background: radial-gradient(circle, transparent 20%, #f3f3f3 20%, #f3f3f3 80%, transparent 80%, transparent) 0% 0% / 64px 64px, radial-gradient(circle, transparent 20%, #f3f3f3 20%, #f3f3f3 80%, transparent 80%, transparent) 32px 32px / 64px 64px, linear-gradient(#e6e6e6 2px, transparent 2px) 0px -1px / 32px 32px, linear-gradient(90deg, #e6e6e6 2px, #f3f3f3 2px) -1px 0px / 32px 32px #f3f3f3;
    background-size: 64px 64px, 64px 64px, 32px 32px, 32px 32px;
    background-color: #f3f3f3;
}
